body{
  background-color: darkgray;
  text-align: center;
  
}
h1{
  background-color: cadetblue;
}
.container{
  align-items: center;
  
  
}
.card{
  display: flex;
  align-items: center;
  
  
}
.card img{
  width: 200px;
  height: 200px;
}
.btn-group{
  margin: 10px;
}
